.text {
    font-size: 60px;
    margin: 0;
}

.newsTitleContent {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 25px;
    margin: auto;
}

.newsTitleDesign {
    max-width: 100%;
    width: 370px;
    height: 160px;
    border-radius: 20px;
}

.newsTitleDesign div {
    position: relative;
    top: 68%;
    transform: translateY(-50%);
    height: 145px;
    margin-left: 25px;
}

.newsTitleDesign div h1 {
    margin-bottom: 4px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 32px;
}

.newsTitleDesign div p {
    font-size: 16px;
    color: white;
    letter-spacing: 0.3px;
}

.title_banner {
    position: relative;
}

.news_title_category {
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-top: 1px solid #c2c2c2a6;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
}

.category_name {
    margin-right: 10px;
}

.category_name h2 {
    font-size: 30px;
    color: white;
}

.category_icon img {
    width: 40px;
    max-width: 100%;
}

.dont-title-name {
    position: static;
}

.banner {
    /*background-image: url("../Icons_And_Backgrounds/Vector_Backgrounds/2.png");*/
    border-radius: 20px;
    width: 70%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
