@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

.cover_news {
    background: #e6e6e647;
}

.author {
    max-width: 100%;
}

.image_url {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.content_size {
    width: 100%;
    margin-left: 200px;
}

.headlineSecond {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(190deg, #7afaea0f 10%, #6dbae917 45%);
}

.block {
    display: flex;
}

.name_data {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.news_name {
    color: #379cdb;
    font-weight: 500;
    font-size: 14px;
}

.news_publishedAt {
    font-size: 13px;
    color: #939393;
}

.leftContentNews {
    max-width: 100%;
    flex: 1;
    align-items: center;
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 15px;
    border-bottom: none;
    border-left: none;
}

.rightContentNews {
    max-width: 100%;
    margin-left: 20px;
    flex: 2 1;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.newsTitle {
    display: inline;
    width: 200px;
    width: 90%;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
}

.leftDescription {
    margin-top: 15px;
    color: #454545;
}

.rightDescription {
    margin-top: 15px;
    color: #454545;
}

.Second {
    margin: auto;
    margin-top: 0;
}
