@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.userContainer {
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 2px 1px #fbd7d24f, 0 4px 2px #fbd7d24f, 0 8px 0px #fbd7d24f, 0 10px 8px #fbd7d24f, 0 15px 25px #fbd7d24f;
}

.avatar {
    width: 50px;
    border-radius: 15px;
}

.userName {
  text-decoration: none;
  color: #33324b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.userStatus {
  margin-top: 5px;
  font-family: revert;
  color: #9392a0;
  font-size: 15px;
  letter-spacing: 0.3px;
}

#page_numbers {
    list-style: none;
    display: flex;
  }
  
  #page_numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 1370px) {
    .avatar {
      width: 45px;
    }
  }