.MuiTypography-gutterBottom {
    margin-bottom: 0.30em !important;
}

.MuiTypography-h5 {
    font-size: 17px !important;
}

.MuiAlert-outlinedInfo {
    border: 1px solid #2196f394 !important;
}

.MuiTypography-body1 {
    font-size: 0.90rem !important;
}

.MuiAlert-root {
    align-items: center;
}

.ant_note {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.RadioButton {
    color: #1191ff !important;
}

.SyntaxHighlighter {
    padding: 0.5em 0.5em 0.5em 0px !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.SyntaxHighlighter code span span {
    min-width: 0em !important;
    /*padding-right: 0.3em !important;*/
    /*letter-spacing: -0.3px !important;*/
}

.MuiAlert-standardInfo {
    margin-top: 2rem;
    border: 1px solid #0000000a;
}

.LessonEmoji {
    font-size: 24px;
    padding-left: 6px;
}

.ant-steps-vertical {
    margin: 2.5rem 0 0 0 !important;
}

