.MuiTypography-gutterBottom {
    margin-bottom: 0.30em !important;
}

.MuiTypography-h6 {
    font-weight: 400 !important;
}

.MuiAlert-outlinedInfo {
    border: 1px solid #2196f394 !important;
}

.MuiAlert-root {
    align-items: center;
}

.ant_note {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.SyntaxHighlighter {
    padding: 0.5em 0.5em 0.5em 0px !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.SyntaxHighlighter code span span {
    min-width: 0em !important;
    /*padding-right: 0.3em !important;*/
    /*letter-spacing: -0.3px !important;*/
}

.MuiAlert-standardInfo {
    margin-top: 2rem;
    border: 1px solid #0000000a;
}

.LessonEmoji {
    font-size: 24px;
    padding-left: 6px;
}

.ant-steps-vertical {
    margin: 2.5rem 0 0 0 !important;
}

.custom-block {
    padding: .1rem 2rem;
    border-left-width: .5rem;
    border-left-style: solid;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    margin: 1rem 0;
    margin-bottom: 2.5rem;
}

.custom-block.tip:before {
    content: url(../icons/idea.png);
    border: 4px solid white;
    width: 25px;
    height: 25px;
    left: -15px;
}

.custom-block:before {
    position: absolute;
    top: 20px;
    left: -14px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
}