@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.con {
    line-height: 1.5;
    color: #304455;
}

.hal {
    font-weight: 500;
    color: #fa726e;
    font-family: 'Roboto';
}

.br_description {
    content: "";
    margin: 2em;
    display: block;
    font-size: 45%;
}

.inside_Content_Description {
    margin-top: 30px;
}

.title_description {
    margin-bottom: 15px;
    margin-top: 20px;
    color: #282c35f0;
    font-size: 19px;
    font-family: 'Roboto';
    letter-spacing: 0.2px;
    font-weight: 500;
}

.title_code_example {
    margin-bottom: 12px;
    margin-top: 20px;
    color: #282c35f0;
    font-size: 16px;
    font-family: 'Noto Sans JP';
    letter-spacing: 0.2px;
    font-weight: 500;
}

.js_ul_list {
    margin-top: 20px;
    margin-left: 20px;
}

.js_ul_list li {
    margin-bottom: 15px;
    list-style-type: disc;
    color: #304455;
}

.link_description {
    display: block;
    font-size: 15px;
}

.code_syntax_warning {
    margin-top: 35px;
}

.code_syntax {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

 .warning_data_content {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.warning {
    padding: 20px;
    background: #f6e9c8;
    border-left: 5px solid #ffd400;
}

.warning_title {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: #2d2d2d;
}

.warning_description {
    font-size: 15px;
    color: #2d2d2d;
}

.StringList {
    margin-top: 15px;
}

.code_example {
    width: 100%;
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 3px;
    border: 1px solid #9999997a;
}