@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    display: flex;
    justify-content: flex-end;
    color: #ff7b77;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}

span {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
