* {
    font-weight: 500;
}

.container {
    display: flex;
}

.languagesTitle p {
    text-align: left;
    margin-left: 25px;
}

.leftColumn {
    flex: 1;
    margin-top: 20px;
    box-shadow: 10px 20px 40px #ffddd3c4;
    border-radius: 45px;
}

.centerColumn {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.rightColumn {
    flex: 1;
    background: #ffe7e41c;
    margin-top: 20px;
    border-radius: 45px;
}

@media screen and (max-width: 1370px) {
    .centerColumn {
        flex: 3;
        display: flex;
        justify-content: space-evenly;
        padding-top: 0;
    }
}