@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-left: 1px solid #d0d0d091;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}
.sidebar_themes_settings {
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar_themes_settings div {
    display: flex;
}

.sidebar_themes_settings_text {
    margin: 2px 0 0 10px;
}

.sidebar_themes_settings_text span {
    font-family: revert;
}

.sidebar_modal_apply_button {
    font-size: 13px;
}

.sidebar_modal_title {
    color: #333333;
}

.SideBarModal_Accept_Color_Gradient_block {
    margin-top: 20px;
}

.SideBarModal_Accept_Color_Gradient_block span {
    font-size: 13px;
    color: #1d1c1db3;
    font-family: Roboto;
}

.SideBarModal_Child_Color div span {
    font-size: 13px;
    color: #1d1c1db3;
    font-family: Roboto;
}

.SideBarModal_Wrapper {
    height: 650px;
    max-width: 100%;
    padding: 20px 30px 0 30px;
}

.SideBarModal_Appearance {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Appearance{
    margin-bottom: 15px;
}

.SideBarModal_Child_Appearance p, .SideBarModal_Child_Color p {
    color: #343434;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
}

.SideBarModal_Line_Container {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.SideBarModal_Line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d5d5d596;
    margin: 1em 0; padding: 0;
}

@media only screen and (max-width: 515px) {
    .SideBarModal_Wrapper {
        text-align: center;
    }
    .SideBarModal_Appearance {
        justify-content: center;
    }
}