.programLanguages img {
    width: 55px;
    max-width: 100%;
    border-radius: 15px;
}

.medium_languageName_block {
    margin-bottom: 10px;
}

.medium_languageName_block p {
    font-weight: 500;
}

.languageName {
    width: 100%;
    margin-left: 15px;
}

.languageName div p {
    text-align: left;
}

@media only screen and (max-width: 1370px) {

    .languagesBlock {
      margin: 25px;
    }

    .languageName div p {
        font-size: 14px;
    }
  }
