.SelectThemePictures_Separator {
    display: flex;
    justify-content: space-between;
}

.builtin_theme_preview {
    width: 185px;
    max-width: 100%;
    cursor: pointer;
    margin: 10px 15px 20px 0;
    border: 1px solid #d3d3d3c2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.selectBorder {
    background-color: #e4f3f9;
    border: 1px solid #40a9ff;
}

.builtin_theme_preview__nav {
    padding-top: 7px;
    padding-bottom: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.builtin_theme_preview__search {
    margin: auto;
    width: 67px;
    height: 11px;
    border-radius: 4px;
    max-width: 100%;
    background: #0000004a;
}

.builtin_theme_preview__sidebar__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.builtin_theme_preview__sidebar {
    padding: 10px;
    padding-top: 0;
    border-bottom: none;
}

.builtin_theme_preview__sidebar_line {
    width: 47px;
    height: 6px;
    border-radius: 3px;
    opacity: .5;
}

.builtin_theme_preview__compose {
    background-color: #ffffffd9;
    width: 17px;
    height: 17px;
    border-radius: 10px;
}

.builtin_theme_preview__sidebar__other_row {
    display: flex;
    align-items: baseline;
}

.builting_m_top {
    margin-bottom: 5px;
}

.hashtag_icon {
    margin-right: 5px;
}

.builtin_theme_preview__sidebar_other_line {
    background-color: #979ea6;
    width: 65px;
    height: 6px;
    border-radius: 3px;
    opacity: .5;
}

.builtin_theme_preview__compose_small {
    margin-right: 5px;
    background-color: rgb(148, 232, 100);
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.builtin_theme_preview__compose_small_line {
    background-color: rgb(120, 175, 143);
    width: 20px;
    height: 10px;
    border-radius: 5px;
    margin-left: auto;
}

.prefs_modal__radio__content {
    display: flex;
    align-items: center;
    padding: 8px 13px 10px 13px;
    /* border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; */
}

.prefs_radio_child_content {
    margin-left: 5px;
}

.prefs_radio_text {
    color: #383838;
    font-size: 12px;
    font-weight: 500;
}