@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

.headlineSecond {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(190deg, #a1faef36 10%, #6dbae929 45%);
}

.block {
    display: flex;
}

.name_data {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.news_name {
    color: #379cdb;
    font-weight: 500;
    font-size: 14px;
}

.news_publishedAt {
    font-size: 13px;
    color: #939393;
}

.leftContentNews {
    max-width: 100%;
    flex: 1;
    align-items: center;
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 15px;
    border-bottom: none;
    border-left: none;
}

.rightContentNews {
    max-width: 100%;
    margin-left: 20px;
    flex: 2 1;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.newsTitle {
    display: inline;
    width: 200px;
    width: 90%;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
}

.leftDescription {
    margin-top: 15px;
    color: #454545;
}

.rightDescription {
    margin-top: 15px;
    color: #454545;
}

.Second {
    margin: auto;
    margin-top: 0;
}

.newsTitleContent {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 0;
    padding-right: 0;
}

.newsTitleDesign {
    width: 450px;
    max-width: 100%;
    background-image: linear-gradient( 135deg, #5ec2fc 10%, #f65d5d 100%);
    border-radius: 25px;
    width: 370px;
    max-width: 100%;
    background-image: linear-gradient( 135deg, #5ec2fc 10%, #f65d5d 100%);
    border-radius: 20px;
}

.newsTitleDesign div {
    position: relative;
    top: 68%;
    top: 67%;
    transform: translateY(-50%);
    height: 170px;
    margin-left: 25px;
    height: 150px;
}

.newsTitleDesign div h1 {
    margin-bottom: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 34px;
}

.newsTitleDesign div p {
    font-size: 16px;
    color: white;
    font-family: 'Roboto';
    letter-spacing: 0.3px;
}

.banner {
    background-image: url("../Vector_Backgrounds/3181.jpg");
    width: 63%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}