.headlineSearchBlock {
    padding-left: 15px;
    margin-top: 15px;
}

.searchIcon {
    width: 40px;
    position: absolute;
    min-width: 40px;
    padding: 13px 10px 0px 10px;
}

.search {
    padding: 16px;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    resize: vertical;
    width: 500px;
    max-width: 100%;
}

@media only screen and (max-width: 992px) {
    .search {
        width: 100%;
    }
}