@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.LogoDivContainer {
  flex: 1;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav__links li a {
  display: block;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-weight: 500;
}

.navElements {
  display: flex;
  align-items: center;
}

.notification {
  padding-left: 15px;
}

.search {
  width: 100%; 
  padding: 10px; 
  text-align: center; 
  padding-right: 15px;
}

.cta {
  padding: 9px 25px;
  background-color: #ff7b77;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #ff7b77b0;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

/*.user_name {*/
/*  margin-right: 15px;*/
/*  text-decoration: none;*/
/*  color: black;*/
/*  font-weight: 600;*/
/*  font-size: 14px;*/
/*}*/

.LessonMobileNavbarIcon {
  font-size: 20px;
}

.home {
  width: 20px;
  border-bottom: 2px solid #ff7b77;
  padding-bottom: 5px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 900px) {
  .nav__links,
  .cta {
    display: none;
  }

  .navbarSearchPage {
    display: none;
  }
  .menu {
    display: initial;
  }

  header {
    position: inherit;
  }
}
