.LogoDivContainer {
    flex: 1;
    display: flex;
    margin-left: 25px;
}

.LogoDivContainer a img {
    margin: auto;
    margin-top: 0;
    width: 150px;
    max-width: 100%;
}

.headlineHeader {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 10px 0%;
    z-index: 90;
    width: 100%;
}

.avatar_and_user_text {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    align-items: center;
    flex: 1;
}

.centerNavbarColumn {
    display: flex;
    flex: 2;
    justify-content: center;
}

.centerHeadlineNavbarColumn {
    display: flex;
    align-items: center;
    width: 70%;
}

.navbarHomePage {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navbarSearchPage {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.NavBarli {
    padding: 0px 20px;
}

/*.MainStream {*/
/*    font-size: 17px;*/
/*    font-weight: 500;*/
/*    color: #383838;*/
/*    text-decoration: none;*/
/*}*/

.ContentLessonMobileNavbarIconContainer {
    display: none;
}

.dEeaTZ:hover {
    cursor: pointer;
    stroke: #485676;
    transition: 0.1s;
}