.LogoDivContainer {
    flex: 1;
}

.LogoDivContainer a img {
    margin: auto;
    margin-top: 0;
    width: 150px;
    max-width: 100%;
}

.avatar_and_user_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.centerNavbarColumn {
    display: flex;
    flex: 2;
    justify-content: center;
}

.centerHeadlineNavbarColumn {
    display: flex;
    align-items: center;
    width: 70%;
}

.navbarHomePage {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navbarSearchPage {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.NavBarli {
    padding: 0px 20px;
}

.MainStream {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 17px;
    font-weight: 500;
    color: #383838;
    text-decoration: none;
}

/* navbar */

.ContentLessonMobileNavbarIconContainer {
    display: none;
}

/*.LessonMobileNavbarIconContainer {*/
/*    display: none;*/
/*}*/

/*@media only screen and (max-width: 900px) {*/
/*    .LessonMobileNavbarIconContainer {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        margin-top: 10px;*/
/*    }*/
/*}*/