.list_active {
    background: #ff7b77fa;
    pointer-events: none;
    transition: 0.3s;
}

.list_active div p {
    color:  white;
}

.list_active div svg {
    color:  white;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
}

.bm-menu-wrap {
    width: 260px;
}

.bm-overlay {
    display: none;
}

#react-burger-cross-btn {
    display: none;
}

.krSGuh {
    display: none;
}