.LogoDivContainer-blue {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.avatar_and_user_text-tomato {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    flex: 1 1;
}

.centerNavbarColumn-flex {
    flex: 0;
}

.navbarHomePage-Home {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.navbarSearchPage-Search {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.NavBarli-NavBarlii {
    padding: 0px 15px;
}

.MainStream-MainStream {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Roboto';
}

.centerHeadlineNavbarColumn-center {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LessonMobileNavbarIconContainer-mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .centerHeadlineNavbarColumn-center {
        width: 70%;
    }

    .navbarHomePage-Home {
        justify-content: flex-end;
    }

    .LogoDivContainer a img {
        width: 140px;
    }
}

@media only screen and (max-width: 1325px) {
    .NavBarli-NavBarli {
        padding: 0px;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1326px) {
    .NavBarli-NavBarli {
        padding: 12px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1024px) {
    .centerHeadlineNavbarColumn-center {
        width: 50%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-35%, -50%);
        -ms-transform: translate(-35%, -50%);
        transform: translate(-35%, -50%);
    }
}

@media only screen and (max-width: 900px) {
    .navbarSearchPage-Search, .avatar_and_user_text-tomato, .navbarSearchPage  {
        display: none;
    }

    .LogoDivContainer-blue {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    .LessonMobileNavbarIconContainer-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}

.bm-burger-button {
    display: none;
}

@media only screen and (max-width: 900px) {
    .bm-burger-button {
        display: block;
    }
}
