@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
.SideBarModal_Wrapper {
    overflow-y: scroll;
    height: 650px;
    max-width: 100%;
    padding: 20px 40px 0px 40px;
}

.SideBarModal_Appearance {
    display: flex;
    align-items: center;
}

.SideBarModal_Child_Appearance, .SideBarModal_Child_Color {
    margin-right: 15px;
    margin-top: 2px;
}

.SideBarModal_Child_Appearance p, .SideBarModal_Child_Color p {
    color: #343434;
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
}

.SideBarModal_Line_Container {
    margin-top: 20px;
    margin-bottom: 20px;
}

hr.SideBarModal_Line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d5d5d596;
    margin: 1em 0; padding: 0;
}