* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

.main {
    background-image: url("../../backgrounds/image.png");
    background-color: #9d9d9d30;
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-size: inherit;
}

.presentation {
    display: flex;
    width: 85%;
    height: 100%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    width: 530px;
    max-width: 100%;
    height: 710px;
    background: white;
    display: flex;
    align-items: center;
    flex: 0 1;
    padding: 50px;
    padding-top: 0;
    border: 1px solid #0000004f;
    padding-bottom: 0;
    /* flex: 1; */
}

.intro_text {
    max-width: 100%;
    text-align: left;
}

.avatarBlock {
    margin-bottom: 40px;
}

.avatar {
    width: 135px;
    max-width: 100%;
    display: flex;
    margin: auto;
    border: 1px solid #b7b7b7;
    border-radius: 100%;
}

.intro_text h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
    /*background: linear-gradient(to right, #494964, #6f6f89);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

.registerNow {
    margin-top: 15px;
    font-size: 15px;
}

.checkbox {
    margin-bottom: 15px;
    margin-top: 5px;
}

.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
.custom_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }


.btn {
    background-color: #f8ffa7;
    color: #000000;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #5e5e78;
    border-radius: 10px;
    font-weight: 600;
    font-family: system-ui;
}

.registerNow {
    line-height: 1.9;
}

.withoutRegistration {
    color: yellow;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 60vh;
}

.cover img {
    max-width: 100%;
    height: 100%;
    /* filter: drop-shadow(0px 5px 3px black); */
    animation: drop 1.5s ease;

}


.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro_text p {
        font-size: 18px;
    }

    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }

    .small-circle,
    .medium-circle,
    .big-circle {
        opacity: 0.2;
    }
}


@media screen and (min-width: 500px) {
    input[type=text], select, textarea {
        width: 500px;
        max-width: 100%;
        padding: 18px;
        border: 1px solid #8c8c8c;
        border-radius: 4px;
        resize: vertical;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    input[type=text], select, textarea {
        width: 100%;
        max-width: 100%;
        padding: 18px;
        border: 1px solid #8c8c8c;
        border-radius: 4px;
        resize: vertical;
        margin-bottom: 15px;
    }
}







