
body {
    font-family: "Open Sans", Helvetica, sans-serif;
}

.clearfix {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Beta {
    display: flex;
}

.imgContainer {
    display: flex;
    padding-right: 15px;
}

.cardInfo {
    margin-bottom: 5px;
}

.cardInfo p {
    font-weight: 600;
    font-size: 15px;
}

.cardDescription p {
    font-size: 14px;
}

.Beta div img {
    width: 45px;
    max-width: 100%;
}

