* {
    font-family: system-ui;
}

/* userProfileInfo */

.contentProfile {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: #d2d2d27d;
}

.userProfileInfo, .achivements, .messages {
    margin: 10px;
}

.achivements {
    background: #ffffff;
}

.messages {
    padding: 20px 20px 15px 20px;
    background: pink;
}

.userProfileInfo {
    flex: 1;
    background: #ffffff;
}

.avatarInfo {
    margin-top: 35px;
    text-align: center;
    line-height: 2;
}

.avatarDefault {
    width: 90px;
    max-width: 100%;
    border-radius: 15px;
}

.userName p {
    font-weight: 600;
    font-size: 19px;
}

.profileSettings {
    margin-bottom: 15px;
}

.line {
    margin: auto;
    border: 3px solid #1ec891;
    width: 90%;
    border-radius: 15px;
}

.userInformation {
    margin-top: 10px;
}

.profileHrContainer {
    width: 90%;
    margin: 25px auto;
}

.profileHR {
    border: none;
    background-color: #dfdfdf;
    height: 1px;
}

/* accountSettings */

.accountSettings {
    margin: 20px;
}

.accountSettingsContainer {
    margin-bottom: 25px;
}

.titleSettings p {
    font-size: 13px;
}

.accountInfoAndIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* achivements */

.achivementsTitleContainer {
    padding: 15px 15px 25px 15px;
    background: #ffffff;
    border-bottom: 1px solid #e2e6eb;
    line-height: 1.6;
}

.AchivementsTitleDescription {
    width: min-content;
    margin-bottom: 10px;
}

.achivementsText {
    line-height: 1.5;
}

.achivementsText p {
    color: #9e9ea7;
}

.UserAchivements {
    padding: 15px;
    background: #ffffff;
}

.TitleAchivementsContainer {
    display: flex;
}

.TitleAchivements {
    margin-right: 30px;
    color: #2c81fd;
    width: fit-content;
    padding: 10px 10px 15px 10px;
    border-bottom: 3px solid #2c81fd;
    margin-bottom: 30px;
}

.TitleAchivements p {
    font-size: 12px;
    text-transform: uppercase;
}

.DateTimeProfile {
    margin-bottom: 20px;
}

.AchivementsTitleDescription p {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #fff3ca;
    color: #ffb343;
    padding: 5px 12px 2px 10px;
}

.achivementsTitle h3 {
    color: #383838;
    font-family: system-ui;
    font-weight: 600;
    font-size: 22px;
}

.achivements {
    flex: 3;
}

.messages {
    background: #ffffff;
    flex: 1;
}

.Calendar {
    margin: auto;
}
