* {
    font-family: system-ui;
}

/* userProfileInfo */

.contentProfile {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: #d2d2d278;
}

.userProfileInfo, .achivements, .messages {
    margin: 10px;
}

.achivements {
    background: #ffffff;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 6%);
}

.messages {
    padding: 15px 30px 15px 30px;
    background: pink;
}

.userProfileInfo {
    box-shadow: 1px 1px 5px rgb(0 0 0 / 6%);
    flex: 1;
    background: #ffffff;
}

.avatarInfo {
    margin-top: 30px;
    text-align: center;
    line-height: 2;
}

.avatarDefault {
    width: 90px;
    max-width: 100%;
    border-radius: 15px;
}

.userName p {
    font-weight: 600;
    font-size: 19px;
}

.profileSettings {
    margin-bottom: 15px;
}

.line {
    margin: auto;
    border: 3px solid #1ec891;
    width: 90%;
    border-radius: 15px;
}

.userInformation {
    margin-top: 10px;
}

.profileHrContainer {
    width: 90%;
    margin: 25px auto;
}

.profileHR {
    border: none;
    background-color: #dfdfdf;
    height: 1px;
}

.centerColumnLine {
    width: 95%;
    margin: auto;
}

.centerColumnLine hr {
    border: none;
    background-color: #dfdfdfd9;
    height: 1px;
}

/* accountSettings */

.accountSettingsContainer {
    margin-bottom: 25px;
}

.titleSettings p {
    font-size: 13px;
}

.accountInfoAndIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* achivements */

.achivementsTitleContainer {
    padding: 15px 15px 20px 25px;
    background: #ffffff;
    line-height: 1.6;
}

.AchivementsTitleDescription {
    width: min-content;
    margin-bottom: 10px;
}

.achivementsText {
    line-height: 1.5;
}

.achivementsText p {
    color: #9e9ea7;
}

.UserAchivements {
    padding: 15px 15px 15px 25px;
    background: #ffffff;
}

.TitleAchivements p {
    font-size: 12px;
    text-transform: uppercase;
}

.DateTimeProfile {
    margin-bottom: 20px;
}

.AchivementsTitleDescription p {
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #fff3ca;
    color: #ffb343;
    padding: 5px 12px 2px 10px;
}

.achivements_Title_Profile h3 {
    color: #383838;
    font-family: system-ui;
    font-weight: 600;
    font-size: 21px;
}

.achivements_Title_Profile_Description p {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #484848;
}

.achivements {
    flex: 3;
}

.messages {
    background: #ffffff;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 6%);
    flex: 1;
}

.Calendar {
    margin: auto;
}
